.container {
    display: grid;
   
    width: 1200px;
  
    grid-template-rows: 240px 240px 240px;
    grid-gap: 5px 5px;

    grid-template-columns:500px 500px 500px;
    
    
   
  }
  img{
    width: 500px;
    height: 240px;
  }3